<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Javascript -->
  <script src="https://kit.fontawesome.com/b1d94949f4.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <style>
        li {
            margin-bottom: 2px;
            margin-right: 4px;
        }
        .navji{
            margin-top: 10px;
        }
        .make_small{
          font-size: 100%;
        }
          
        
    </style>
</head>

<body>
    <!-- Brand -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container" >
      <a class="navbar-brand" href="/cse/">COMPUTER SCIENCE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                 <a class="nav-link" href="#"></a>
             </li>
             <li class="nav-item active">                       
               <a class="nav-link" onclick="return confirm('Are you sure you want to change your Branch?')"  href="/logout">Change Branch</a>
             </li>
         </ul>
       </div>
     </div>
  </nav>
  <% if(msg=="Successfully Saved Answer Details") {%> 
    <div class="mt-2 alert text-center alert-success" role="alert">
      <%= msg %>
    </div>
  <% } %>
  <% if(msg=="Deleted Successfully") {%> 
    <div class="mt-2 alert text-center alert-danger" role="alert">
      <%= msg %>
    </div>
  <% } %>
          <div class=" mb-2 navji ml-5 mr-5" >
            <a class=" btn btn-info" href="/addanswer">Add New Answer</a>
           
            <form class="ml-4 form-inline md-form mr-auto mb-4"  style="display: inline;">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search Question">
              <button class="btn text-light bg-dark btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
            <a class="float-right btn btn-info " href="/cse/"><i class="fas fa-sync"></i></a>
 
          </div>


          <% if(records.length>0){ %>
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Q.No. </th>
                   
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                   <% records.forEach(function(row){ %> 
                  <input type="hidden"  class=".d-none" name="id" id="" value="<%= row._id %>">
                     <h3x> </h3>
                      <tr>
                        <td><%= row.questionNo %></td>
                        <td><%= row.question %></td>
                        <td><%= row.answer %></td>
                        <td>
                          <a class=" mt-1 btn btn-info" href="/cse/edit/<%= row._id %> "><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                          <a class=" mt-1 btn btn-danger" href="/cse/delete/<%= row._id %> "><i class="fas fa-trash"></i></a>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>    
                  </table>
                <% } %>
                <% if(records.length==0){ %>
                  <h2>Hey, Add First Answer Now</h2>
                  <a class="btn btn-primary" href="/addanswer/">Add First Answer Here</a>
                <% } %> 
     
    
</body>
</html>