<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Javascript -->
  <script src="https://kit.fontawesome.com/b1d94949f4.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/dashboard/">
      <% if(userid){ %> 
        <%= userid.toUpperCase() %>  Dashboard</a>
      <% } %>
      <ul class="navbar-nav">          
        
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Password Category
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/addcategory/">Add Password Category</a>
            <a class="dropdown-item" href="/allcategory/">View All Categories</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Passwords
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/addpassword/">Add Password</a>
            <a class="dropdown-item" href="/allpassword/">View All Password</a>
          </div>
        </li>
        <li>
          <div  class=" bg-success rounded  nav-item dropdown  navbar-nav" >
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
              <% if(userid){ %> 
                <%= userid.replace(/\w/, c => c.toUpperCase())%> Profile
                <% } %> 
              </a>
              <div class="dropdown-menu" >
                <a class="dropdown-item"  href="/editpassword/">Edit Profile</a>
                <a class="dropdown-item"  href="/logout">Log Out</a>
              </div>
            </div>
          </li>
          
      </ul>
      <a class="ml-3 btn btn-info" href="/editpassword/"><i class="fas fa-sync"></i></a>
  </nav>
  <div class=" border border-success rounded-lg mt-4  container pl-0 pr-0">
    <h1 class="text-center"><%= title %></h1> 
    <% if(msg!=""){ %> 
      <div class="alert text-center alert-success" role="alert">
        <%= msg %>
      </div>
    <% } %>
    <form action="/allpassword/edit/<%= record._id %> " method="post">
        <% if(error!=""){ %> 
            <div class="alert text-center alert-danger" role="alert">
              <%= error.addcategory.msg %>
            </div>
          <% } %>
          <% if(msg!=""){ %> 
            <div class="alert success text-center alert-success" role="alert">
              <%= msg %>
            </div>
          <% } %>
        <input type="hidden" value="<%= record._id %>" name="id">
        <div class="form-group pl-3 pr-3 input-group mb-3">                
            <label for="passwordadd" class=""><span class="bg-info btn mr-2">Password Details</span> </label>
            <textarea name="passwordadd"  id="editor" class="form-control" cols="50" rows="100"><%- record.passwordDetails %> </textarea>
          </div>
        <div class="form-group pl-3 pr-3">
            <label for="categorytype">Password Category</label>
            <select class="form-control" name="categorytype" id="exampleFormControlSelect1">
              <% if(records.length>0){ %> 
             <% records.forEach(function(type) {%>
              <option value="<%= type.passwordCategory %>"
                <% if(type.passwordCategory==record.passwordCategory) { %> 
                    selected
                    <% } %>><%= type.passwordCategory %> </option> 
              <% }) %> 
              <% } %> 
            </select>
          </div>
          <div class="form-group pl-3 pr-3 input-group mb-3">                
            <label for="projectname" class=""><span class="bg-info btn mr-2">Project Name</span> </label>
            <input type="text" name="projectname" class="form-control" value="<%- record.projectName %> ">
          </div>
          <div class="form-group mb-2">
              <button class="ml-3 btn btn-primary">Save Details</button>
              <a class=" ml-3 mb-3" href="/allpassword/">View All Password Here</a>
          </div>


    </form>   
</div>
<script>
    CKEDITOR.replace('editor');
</script>
</body>
</html>